:root{
    --o-color: #BF092F;
    --x-color: #16476A;
    --border-color: #132440;
    --button-color: rgba(59,151,151,0.25);
}

body{
    font-family: "Lexend", sans-serif;
}

.text{
    font-size: 1.6rem;
    color: var(--border-color);
    height: 50px;
}

.winTextTop{
    margin-bottom: 20px;
}

.winTextBottom{
    margin-top: 50px;
}

.square{
    height: 100px;
    width: 100px;
    border: solid black 4px;
    border-color: var(--border-color);
    border-radius: 10px;
    margin: 0 0 4px 4px;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 70px;
    align-content: center;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out ;
}

.square:hover{
    background-color: rgba(191, 9, 47, 0.06);
    box-shadow: 8.0px 6.0px 6.0px hsl(0deg 0% 0% / 0.25);

}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.winnerHighlight{
    background-color: rgba(36,86,43,0.25);
    animation: 1s linear fadein;
}

.tieHighlight{
    background-color: rgba(191, 9, 47, 0.25);
    animation:  1s linear fadein;
}



.x-color{
    color: var(--x-color);
}

.o-color{
    color: var(--o-color);
}

.buttonWrapper{
    display: flex;
}

.button{
    border: solid var(--border-color) 3px;
    background-color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--border-color);
    font-family: "Lexend", sans-serif;
    padding: 10px;
    margin: 20px 20px 0 0;
    transition: 0.2s ease-in-out,
}

.button:hover{
    background-color: var(--button-color); 
    box-shadow: 4px 4px 7px -3px #000000;
}

.form{
    margin-right: 20px;
}

label{
    font-size: 1.4rem;
}

.player1{
    color: var(--x-color)
}

.player2{
    color: var(--o-color)
}

input{
    height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: "Lexend", sans-serif;
    padding: 5px;
}

.game{
    display: flex;
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
    width: 340px;
    height: 330px;
    text-align: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 90vw;
    height: 90vh;
}
