:root{
    --o-color: #BF092F;
    --x-color: #16476A;
    --border-color: #132440;
    --text-color: #3B9797;
}

.square{
    height: 100px;
    width: 100px;
    border: solid black 4px;
    border-color: var(--border-color);
    border-radius: 10px;
    margin: 0 0 4px 4px;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 70px;
    align-content: center;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out ;
}

.square:hover{
    background-color: rgba(191, 9, 47, 0.06);
    box-shadow: 8.0px 6.0px 6.0px hsl(0deg 0% 0% / 0.25);

}

.x-color{
    color: var(--x-color);
}

.o-color{
    color: var(--o-color);
}

.resetBtn{
    border: solid var(--border-color) 3px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
}

.game{
    display: flex;
    flex-direction: row;
    gap: 0;
    flex-wrap: wrap;
    width: 340px;
    height: 330px;
    text-align: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
